<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springfrawork.org/scheme/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="bbn" class="pack11.User">
    	<constructor-arg value="Bahubali" type="String"></constructor-arg>
    	<constructor-arg value="********" type="String"></constructor-arg>
    </bean>
</beans>